.ms-Button,
.sbtn{
    height: 35px !important;
  }
.mt--2{
    margin-top: 2px !important;
}
.mr--1{
    margin-right: -11px!important;
}
.tblrequest_fb568356 thead tr th {
    background: #c4291c !important;
}
.element-actions{
    float: right;
    margin-right: 17px;
    margin-top: .8rem;
    position: relative;
    z-index: 2;
    padding: 2px 15px;
    border-radius: 3px;
    background: rgb(196, 41, 28) !important;
}
.element-actions a{
    color:#fff !important;
    text-decoration: none !important;
}
td{
 text-align: center;
} 

